-- CreateEnum
CREATE TYPE "CreditSourceType" AS ENUM ('SUBSCRIPTION', 'ADDON', 'GIFT', 'PROMOTION', 'ADMIN');

-- DropForeignKey
ALTER TABLE "CreditWallet" DROP CONSTRAINT "CreditWallet_userId_fkey";

-- DropForeignKey
ALTER TABLE "Invoice" DROP CONSTRAINT "Invoice_pricingOptionId_fkey";

-- DropForeignKey
ALTER TABLE "PricingOption" DROP CONSTRAINT "PricingOption_planId_productId_fkey";

-- DropIndex
DROP INDEX "CreditGrant_userId_productId_idx";

-- DropIndex
DROP INDEX "CreditTransaction_grantId_idx";

-- DropIndex
DROP INDEX "Plan_id_productId_key";

-- DropIndex
DROP INDEX "Subscription_provider_providerSubscriptionId_key";

-- AlterTable
ALTER TABLE "CreditGrant" DROP COLUMN "sourceType",
ADD COLUMN     "sourceType" "CreditSourceType" NOT NULL,
ALTER COLUMN "priority" SET DEFAULT 0;

-- AlterTable
ALTER TABLE "Invoice" DROP COLUMN "pricingOptionId";

-- AlterTable
ALTER TABLE "Product" DROP COLUMN "addonRequiresLiveSubscription";

-- AlterTable
ALTER TABLE "Subscription" DROP COLUMN "billingMode",
DROP COLUMN "productId",
DROP COLUMN "subscriptionCreditsRemaining";

-- DropTable
DROP TABLE "CreditWallet";

-- DropEnum
DROP TYPE "BillingMode";

-- DropEnum
DROP TYPE "CreditGrantSourceType";

-- AddForeignKey
ALTER TABLE "PricingOption" ADD CONSTRAINT "PricingOption_planId_fkey" FOREIGN KEY ("planId") REFERENCES "Plan"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

